<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="circle" class="day2bt.Pojo.Circle"/>
    <bean id="rectangular" class="day2bt.Pojo.Rectangular"/>
    <bean id="square" class="day2bt.Pojo.Square"/>

    <bean id="student" class="day2bt.Pojo.Student" autowire="byType">

    </bean>
</beans>